html,body{
    width:100%;
    height:100%;
    overflow:hidden;
}
i{
    font-style:normal;
}
/*头部*/
header{
   width:100%;
    height:60px;
    background:#168bd8;
    position:fixed;
    z-index:1000;
}
.header{
    max-width:1000px;
    height:100%;
    margin:0 auto;
}
.header .login{
    width:120px;
    height:40px;
    background:url(../img/header.png);
}
.header{
    display: flex;
    justify-content:space-between;
}
.header a{
    color:#fff;
    font-family:"Microsoft Yahei";
    text-decoration:none;
}
.header .login{
    margin-top:10px;
}
#icon{
    width:32px;
    height:25px;
    background:url(../img/header.png) no-repeat;
    background-position:-88px -154px;
    display:inline-block;
}
.max-header{
    display:none;
}
.min-header{
    position:relative;
}
.menu-option{
    width:30px;
    height:40px;
    margin:10px 20px 0 0;
    position:relative;
    cursor:pointer;
}
.menu-option-tline{
    width:100%;
    height:2px;
    border-radius: 10px;
    position:absolute;
    left:0;
    top:10px;
    background:#fff;
    transition:transform 0.5s linear;
}
.menu-option-bline{
    width:100%;
    height:2px;
    border-radius: 10px;
    position:absolute;
    left:0;
    bottom:10px;
    background:#fff;
    transition:transform 0.5s linear;
}
.menu{
    width:100%;
    position:absolute;
    left:0;
    top:60px;
    z-index:2000;
    display:none;
}
.menu a{
    display:block;
    width:100%;
    line-height:30px;
    text-align: center;
    background:rgba(0,0,0,0.8);
    opacity:0;
}
@keyframes flipInX {
    0%{transform:perspective(400px) rotateX(90deg);
        opacity:0}
    100%{transform:perspective(400px) rotateX(0deg);
        opacity:1}
}
@keyframes flipOutX{
    0%{transform:perspective(400px) rotateX(0deg);
        opacity:0.9}
    100%{transform:perspective(400px) rotateX(-90deg);
        opacity:0}
}
/*主体*/
#fullpage{
    width:100%;
    height:100%;
    transition:margin-top 1s ease;
}
#fullpage section{
    width:100%;
    height:100%;
    position:relative;
}
#fullpage section:nth-child(1){
    background:url(../img/bg1.jpg);
}
#fullpage section:nth-child(2){
    background:url(../img/bg2.jpg);
}
#fullpage section:nth-child(3){
    background:url(../img/bg3.jpg);
}
#fullpage section:nth-child(4){
    background:url(../img/bg4.jpg);
}
.formArea .top{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:1000px;
    background:url(../img/cloud1.png) repeat-x;
    animation:l_to_r 100s linear infinite;
}
.formArea .inner{
    position:absolute;
    width:100%;
    height:400px;
    left:0;
    top:200px;
    background:url(../img/cloud2.png);
    animation:l_to_r 200s linear infinite;
}
.formArea .bottom{
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:400px;
    background:url(../img/cloud3.png);
    animation:l_to_r 400s linear infinite;
}
.formArea .footer-head{
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:126px;
    background:#0d71cd;
    z-index:1;
}
.inner .content{
    max-width:1000px;
    height:350px;
    margin:0 auto;
    margin-top:-100px;
    position:relative;
    z-index:5;
}
.inner .content-title{
    position:absolute;
    left:0;
    top:10px;
    width:501px;
    height:158px;
    background:url(../img/launch.png);
}
.inner .feiji{
    width:119px;
    height:78px;
    position:absolute;
    left:290px;
    top:-10px;
    background:url(../img/flight.png);
    animation:t_to_b 2s linear infinite;
}
.inner .ship{
    width:242px;
    height:228px;
    position:absolute;
    left:110px;
    bottom:-103px;
    background:url(../img/ship.png);
    z-index:3;
    animation:l_to_r3 1s linear;
}
@keyframes l_to_r3 {
    0%{
        transform:translate(-15px,0);
    }
    100%{
        transform:translate(0px,0);
    }
}
.formBox{
    width:340px;
    height:305px;
    padding-top:26px;
    position:absolute;
    /*right:0;*/
    /*top:20px;*/
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    background:#4EBFFC;
    border-radius:5px;
    z-index:1000;
}
.form-info{
    padding:0 20px;
    width:100%;
    box-sizing: border-box;
}
.info-username,.info-password,.vilibi{
    width:299px;
    height:40px;
    background:#fff;
}
.info-password,.vilibi{
    margin-top:20px;
}
.vilibi{
    background:transparent;
}
.user-icon,.pass-icon{
    width:14px;
    height:14px;
    display:inline-block;
    background:url(../img/icons.png) no-repeat -124px -12px;
    margin:2px 0 3px 10px;
    vertical-align:middle;
}
.pass-icon{
    background:url(../img/icons.png) no-repeat -140px -12px;
}
.info-username input,.info-password input,.vilibi input{
    border:none;
    width:246px;
    height:20px;
    padding:9px;
    box-sizing:content-box;
    font-size:14px;
    font-family:"Microsoft Yahei";
    outline:none;
}
.vilibi input{
    width:122px;
}
.formBox .login{
    margin-top:20px;
    padding:0 20px;
}
.formBox .login .btn{
    margin-top:12px;
    width:299px;
    height:35px;
    padding:10px;
    background:#ffd850;
    border:none;
    border-radius:3px;
    font-size:16px;
    color:#5c4c12;
    font-family:"Microsoft Yahei";
    line-height:1px;
}
.formBox .login .other{
    margin-top:13px;
    box-sizing:content-box;
}
.other:after{
    display:block;
    content: "";
    clear:both;
}
.other_left{
    float: left;
}
.other_right{
    float:right;
}
.other_left span{
    width:15px;
    height:17px;
    background:url(../img/icons.png) no-repeat -203px -75px;
    margin:2px 4px;
    float: left;
}
.other_left a,.other_right a{
    font-size:12px;
    color:#fff;
    font-family:"Microsoft Yahei";
    text-decoration:none;
}
.other_left a:hover,.other_right a:hover{
    text-decoration:underline;
}
.footer-head .content{
    width:100%;
    height:100%;
    position:relative;
}
.footer-head .content .hill1{
     width:265px;
     height:175px;
     background:url(../img/hill1.png);
     position:absolute;
     left:0;
     top:-50px;
 }
.footer-head .content .hill2{
    width:63px;
    height:78px;
    background:url(../img/hill2.png);
    position:absolute;
    right:488px;
    top:-13px;
}
.footer-head .content .hill3{
    width:260px;
    height:175px;
    background:url(../img/hill3.png);
    position:absolute;
    right:100px;
    top:-47px;
}
.formArea .bottom .next-pages{
    width:30px;
    height:26px;
    display:block;
    position:absolute;
    left:0;
    right:0;
    top:0;
    margin:auto;
    bottom:-280px;
    background:url(../img/arrow.png);
    z-index:10;
    animation:t_to_b2 1s ease infinite;
}
@keyframes l_to_r {
    0% {
        background-position: 2000px 0;
    }
    50% {
        background-position: 0 0;
    }
    100% {
        background-position: -2000px 0;
    }
}
@keyframes t_to_b {
    0% {
      top:-10px;
    }
    50% {
        top:0;
    }
    100% {
        top:-10px;
    }
}
@keyframes t_to_b2 {
    0% {
        opacity:1;
       bottom:-280px;
    }
    50% {
        opacity:0.5;
        bottom:-270px;
    }
    100% {
        opacity:1;
        bottom:-280px;
    }
}
/*第二屏*/
.tableCell{
    float:left;
}
.tableCell .content{
    max-width:1000px;
    margin:0 auto;
    position:relative;
    height:100%;
}
.tableCell .content .titleArea{
    width:500px;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    transition:margin-left 0.5s linear,opacity 0.5s linear;
}
.titleArea .linxian,.titleArea .quanmian,.titleArea .zhuanye{
    width:66px;
    height:126px;
    float:left;
    background:url(../img/lingxian.png) no-repeat;
    animation:l_to_r2 2s linear infinite;
}
.titleArea .text{
    margin-left:86px;
    margin-top:8px;
    color:#fff;
    font-family: 'Microsoft Yahei';
}
.titleArea .text h4{
    font-size:34px;
    font-weight:400;
    line-height:48px;
    margin-bottom:6px;
}
.titleArea .text p{
    font-size: 19px;
    line-height: 32px;
    opacity: .8;
}
.image{
    position:absolute;
    right:27px;
    top:0;
    width:444px;
    height:427px;
    background:url(../img/brain.png) ;
    transition:transform 0.5s linear,opacity 0.5s linear;
}
.tableCell .bottom{
    max-width:1000px;
    height:88px;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    margin: 0 auto;
}
.square{
    position:absolute;
    bottom:0;
}
.square.square-1{
    width:44px;
    height:44px;
    left:70px;
    background:#35b568;
}
.square.square-2{
    width:88px;
    height:88px;
    left:158px;
    background:#4ac179;
}
.square.square-3{
    width:44px;
    height:44px;
    left:246px;
    background:#8ae75a;
}
.square.square-4{
    width:44px;
    height:44px;
    right:328px;
    background:#8ae75a;
}
.square.square-5{
    width:44px;
    height:44px;
    right:240px;
    background:#4ac179;
}
.bottom .next-pages{
    width:30px;
    height:26px;
    display:block;
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    margin:auto;
    background:url(../img/arrow.png);
    z-index:10;
    animation:t_to_b3 1s ease infinite;
}
@keyframes l_to_r2 {
    0%{
        transform:rotateY(0deg);
    }
    50%{
        transform:rotateY(0deg);
    }
    100%{
        transform:rotateY(360deg);
    }
}
@keyframes t_to_b3 {
    0% {
        opacity:1;
        top:-60px;
    }
    50% {
        opacity:0.5;
        top:-50px;
    }
    100% {
        opacity:1;
        top:-60px;
    }
}
/*第三屏*/
.titleArea .quanmian{
    background:url(../img/quanmian.png) no-repeat;
}
.image-quan{
    background:url(../img/allside.png) no-repeat ;
}
.quanmian .top{
    position:absolute;
    left:0;
    top:-10px;
    width:352px;
    height:352px;
}
.quanmian .top .square1{
    position:absolute;
    width:88px;
    height:88px;
}
.quanmian .top .square1.square-1{
    background:#33bb9a;
    left:88px;
    top:0;
}
.quanmian .top .square1.square-2{
    background:#29a2b8;
    left:0;
    top:88px;
}
.quanmian .top .square1.square-3{
    background:#60cf6e;
    right:88px;
    top:88px;
}
.quanmian .top .square1.square-4{
    width:176px;
    height:176px;
    background:url(../img/square.jpg);
    left:88px;
    bottom:0;
}
.quanmian .top .square1.square-5{
    background:#33bb9a;
    right:0;
    bottom:0;
}
.quanmian .footer-head{
    width:100%;
    height:138px;
    background:url(../img/bg-3-head.png);
    position:absolute;
    left:0;
    bottom:0;
}
/*第四屏*/
.titleArea .zhuanye{
    background:url(../img/h_zhuanye.png) no-repeat;
}
.image-zhuan{
    top:30px;
    width:603px;
    height:361px;
    background:url(../img/stat_8934528.png) no-repeat ;
}
.zhuanye .top{
    width:275px;
    height:245px;
    position:absolute;
    left:0;
    top:0;
    background:url(../img/bubble_3b0f897.png);
}
.zhuanye  .footer-head{
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
}
.zhuanye  .footer-head .inner{
    margin:0 auto;
    max-width:1000px;
    line-height:80px;
    text-align:center;
    font-size:12px;
    color:#fff;
    font-family: 'Microsoft Yahei';
}
.zhuanye  .footer-head .inner a{
    color:#fff;
    text-decoration:none;
}
.zhuanye  .footer-head .inner a:hover{
    text-decoration:underline;
}

/*pages*/
#pages{
    width:28px;
    height:80px;
    position:fixed;
    right:17px;
    top:42%;
    z-index:500;
}
#pages a{
    width:10px;
    height:10px;
    margin:10px;
    position:relative;
    border-radius:50%;
    border:1px solid #19507B;
    display:block;
}
#pages a b{
    font-weight: normal;
    position:absolute;
    right:20px;
    top:-2px;
    display:block;
    width:220px;
    text-align:right;
    color:#fff;
    font-size:14px;
    opacity:0;
}
.active{
    background:#30628A;
}

@media screen and (min-width: 1000px) {
    .max-header{
        display:flex;
    }
    .header .index{
        margin-top:15px;
        align-self: center;
    }
    .header .last{
        font-size:12px;
        margin-bottom:10px;
        align-self: flex-end;
    }
    .header .index:hover{
        color:#67CBF8;
    }
    .header a:nth-of-type(2){
        margin-left:30px;
    }
    .header a:nth-of-type(5){
        margin-left:130px;
    }
    .header a:last-of-type{
        color:#FFDA28;
    }
    .min-header{
        display:none;
    }
    .formBox{
        left:840px;
        top:140px;
    }
    .tableCell .content{
        margin-top:100px;
    }
    .tableCell .content .titleArea{
        left:0;
        top:80px;
        transform:translate(0,0);
        opacity:0;
        margin-left:-150px;
        transition:margin-left 0.5s linear,opacity 0.5s linear;
    }
    .image{
        transform:translate(150px,0);
        opacity: 0;
        transition:transform 0.5s linear,opacity 0.5s linear;
    }
}